/* CSS for homepage */

.table
{
    background-color: #a9a9a9;
}

body
{
    background-color: #F2F3F4;
}

header
{
    color: purple;
    text-align: center;
}

main
{
    text-align: center;
    font-size: large;
    padding: 50px 200px;
}

#locations
{
    text-align: left;
    font-size: large;
    padding: 0px 200px;
}

footer
{
    text-align: center;
    font-size: medium;
    margin-left: 20px;
}
